html, body{
    width: 100%;
    height: 100%;
}

/* body {
    background-color: #ccc;
    font-family: sans-serif;
    padding: 10px;
} */

.wrapper {
    display: flex;
    justify-content: space-around;
}

.main {
    width: 30%;
    height: 25vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

div {
    padding: 50px;
}

.sidebar,
.main div {
    border: 3px solid black;
    padding: 15px;
    background-color: #fff;
}

.sidebar {
    width: 50%;
    height: 150vh;
}

.search-hint {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show-hint .search-hint {
    opacity: 1;
}