html, body{
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
    color:#fff;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.main {
    width: 60%;
    height: 25vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

div {
    padding: 20px;
}

.sidebar,
.main div {
    padding: 15px;
}

input {
    background-color: transparent;
    border: none;
    padding: 0;
    outline: none;
    
}

.search-input {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
}

.search-input::placeholder {
    color: #323232;
}

.search-clear, 
.spinner {
    transition: opacity 0.5s ease;
    opacity: 0;
}

a {
    cursor: pointer;
}

.search-hint {
    font-weight: 100;
}

.search-hint, 
.spinner {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.show-hint .search-hint,
.loading .spinner,
.has-results .search-clear {
    opacity: 1;
}

.loading .search-hint,
.has-results {
    opacity: 0;
}


.sidebar {
    width: 50%;
    height: 500vh;
    text-align: center;
}

ul {
    list-style: none;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

li {
    font-size: 25px;
    padding-top: 20px;
    font-weight: 100;
    list-style: none;
}

.span {
    text-align: start;
}
